* {
	padding: 0;
	margin: auto;
	outline: none;
	text-align: center;
	box-sizing: border-box;
	font-family: sans-serif;
}
html, body {
	width: 100%;
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: inherit;
}
img {
	max-width: 100%;
}
button, .button {
	width: 100%;
	color: #fff;
	border:none;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: #09F;
	text-align: center !important;
	transition: box-shadow 100ms linear !important;
	will-change: box-shadow;
}
button:hover, .button:hover, button:focus, .button:focus {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
}
button[disabled], a[disabled] {
	opacity: 0.8;
	cursor: not-allowed;
}
form button {
	margin-top:10px;
	padding: 13px 15px !important;
}
form button[disabled] {cursor: wait}
label {
	width: 100%;
	display: block;
	font-size: 14px;
	text-align: left;
	font-weight: 700;
	margin: 5px auto 8px 1px;
}
input, textarea, select {
	width: 100%;
	font-size: 12px;
	text-align: left;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 10px 15px;
	border: #ccc 2px solid;
	background-color: inherit;
	transition: all 100ms linear;
	will-change: border-color, box-shadow;
}
input:focus, textarea:focus, select:focus {
	border-color: #09f;
	box-shadow: 0 0 2px #09f;
}
input[disabled], textarea[disabled], select[disabled] {
	border-color: #ddd;	
}
textarea {min-height: 80px;}
ul {padding-left: 20px}
.error {
	border-color: #E77 !important;
	box-shadow: 0 0 2px #E77 !important;
}
.success {
	border-color: #4C4 !important;
	box-shadow: 0 0 2px #4C4 !important;
}
.help {
	color: #888;
	font-size: 14px;
	text-align: left;
	margin: -3px auto 18px 1px;
}
.help.error {
	color: #E77;
	font-size: 13px;
	font-weight: 700;
	box-shadow: none !important;
}
.help.success {
	color: #4C4;
	font-size: 13px;
	font-weight: 700;
	box-shadow: none !important;
}

.img {
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.img.white-round {
	border-radius: 50% !important;
	background-color: #fff !important;
}
.no-interact {cursor: default !important;}
.entity-icon {
	font-size: inherit;
	display: inline-block;
	font-family: monospace;
}
.wide-limit {
	width: 90%;
	max-width: 1200px;
	display: inline-block;
	vertical-align: middle;
}
.text .separator {
	margin:auto 15px;
	vertical-align: top;
	display: inline-block;
}
.separator {
	width: 100%;
	height: 1px;
	margin: 20px auto;
	background-color: #ccc;
}


#main {
	width: 100%;
	margin-top: 4px;
	position: relative;
	margin-left: 224px;
	vertical-align: top;
	padding-bottom: 4px;
	width: calc(100% - 224px);
	height: calc(100vh - 102px);
}
#main.empty {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
}