body{
	background-image: url("DSC_01653.jpg");
	background-size: cover; 
	background-attachment: fixed;
	color: white;
	font-family: monospace;
	margin: auto;

}
h4{
	background-color: black;
	color: white;
	border-radius: 10px;
}


table{
	display: inline-table;
	background-color: gray;
	align-self: flex-end;
	width: auto;
	margin-top: 3%;
}


table, th, td{
	text-align: center;
	border:1px white;
	}

tr{
	background-color: black;
}


	
tr:hover{
	background-color: #e6f7ff;
	color: black;
}



nav{
	background-color: black;
	width: 100%;
	display: inline-flex;
}

h1{
	display: inline-flex;
	margin-right: auto;
	margin-left: 5%;
	position: static;
}
.dropbtn{
	background-color: black;
	color:white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.dropdown{
	position: relative;
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;


}
.dropdown-content{
	display: none;
	position: relative;
	background-color: gray;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-conten a:hover{
	background-color: white;
	
}
.dropdown:hover .dropdown-content{
	display: block;
	color: black;
		cursor: pointer;
	background-color: black;
}
.dropdown:hover .dropbtn{
	background-color: white;
	color: black;
}
#informar{
	margin: 0 auto;
}

/*
 * STYLES FIX
*/
.dropbtn {
	/*
	 * Permitirle al elemento usar correctamente el padding
	 * ya que al ser una etiqueta 'a' tiene un 'display' de
	 * tipo 'inline' por defecto.
	*/
	display: inline-block;
}
.dropdown-content {
	/*
	 * Se establece 'position' de forma 'absolute' para que
	 * se pueda pintar sin que afecte las propiedades del
	 * contenedor padre.
	*/
	position: absolute;
	/*
	 * 'top:100%' establece que se comience el elemento
	 * absoluto 100% después del relativo superior más
	 * cercano.
	 *
	 * En otras palabras, el elemento comienza justo por
	 * debajo de el elemento relativo superior más cercano.
	*/
	top: 100%;
}
.dropdown-content a {
	/*
	 * Negro con negro no se va a ver :v
	 * Cambiar el texto a color blanco
	*/
	color:white;
}

#logo{
	font-style: normal;
	color: white;
	font-family: monospace;
	text-decoration: none;
}
/*
 * NOTAS:
 * - En la linea 53 te falta la 't' en '.dropdown-conten a:hover'.
 * - En el selector de '.dropdown' [31] sería mejor si pones 'margin: auto 0;' para simplificar. 
*/
input #but1{
	background-image: url('butreg.png');
}
